#### Creating a retail banking database and adding tables to it

In [7]:
# loading the libraries to be used 
import pandas as pd 
import psycopg2 as ps 
import numpy as np

In [8]:
def create_database () :
    """A function to create and connect a database """
    # connecting to a default database 
    conn = ps.connect("host = 127.0.0.1 dbname=postgres user=postgres  password=Breakingbad ")
    conn.set_session(autocommit=True)
    cur = conn.cursor()


    # create a database 
    cur.execute("DROP DATABASE IF EXISTS banking")
    cur.execute ("CREATE DATABASE banking")

    # closing the connection to the default datbase 
    cur.close()

    # connecting the created database
    conn = ps.connect("host = 127.0.0.1 dbname=postgres user=postgres  password=Breakingbad ")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

In [ ]:
loans_table = ("""
    CREATE TABLE IF NOT EXISTS loans(
            loan_id VARCHAR PRIMARY KEY NOT NULL,
            account_id VARCHAR NOT NULL,
            amount NUMERIC 
            duration INTEGER 
            year INTEGER
            purpose TEXT 
    )""")

#execute the query 
cur.execute(loans_table)
#commiting the query 
cur.commit()

In [10]:
clients = pd.read_csv("clientdetails.csv")
clients.head()

   client_id   first      last                       email    fulldate
0  C00000001    Emma     Smith        emma.smith@gmail.com  1990-12-13
1  C00000002    Noah  Thompson     noah.thompson@gmail.com  1965-02-04
2  C00000003  Olivia   Johnson  olivia.johnson@outlook.com  1960-10-09
3  C00000004    Liam     White        liam.white@gmail.com  1976-12-01
4  C00000005  Sophia  Williams   sophia.williams@gmail.com  1980-07-03

In [ ]:
clients_table =("""
    CREATE TABLE IF NOT EXISTS clients ()""")