#### Creating a retail banking database and adding tables to it

In [54]:
# loading the libraries to be used 
import pandas as pd 
import psycopg2 as ps 
import numpy as np

In [55]:
def create_database () :
    """A function to create and connect a database """
    # connecting to a default database 
    conn = ps.connect("host = 127.0.0.1 dbname=postgres user=postgres  password=Breakingbad ")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

# Terminate all connections to the database
    cur.execute("SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity WHERE pg_stat_activity.datname = 'accounts' AND pid <> pg_backend_pid();")

    # create a database 
    cur.execute("DROP DATABASE IF EXISTS banking")
    cur.execute ("CREATE DATABASE banking")

    # closing the connection to the default datbase 
    cur.close()

    #connecting the created database
    conn = ps.connect("host = 127.0.0.1 dbname=banking user=postgres  password=Breakingbad ")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    return cur, conn

In [56]:
conn.close()

In [57]:
# calling the function to create a database 
cur,conn = create_database()

In [59]:
loans_table = ("""
    CREATE TABLE IF NOT EXISTS loans(
            loan_id VARCHAR PRIMARY KEY NOT NULL,
            account_id VARCHAR NOT NULL,
            amount NUMERIC ,
            duration INTEGER ,
            year INTEGER,
            purpose TEXT 
    )""")

#execute the query 
cur.execute(loans_table)
#commiting the query 
conn.commit()

In [60]:
clients_table =("""
    CREATE TABLE IF NOT EXISTS clients (
        client_id VARCHAR PRIMARY KEY NOT NULL,
        first_name TEXT,
        last_name TEXT,
        email VARCHAR ,
        date_of_birth DATE 
                 )""")

#execute the query 
cur.execute(clients_table)
#commiting the query 
conn.commit()

In [61]:
accounts_table = ("""
    CREATE TABLE IF NOT EXISTS accounts (
            account_id VARCHAR PRIMARY KEY NOT NULL,
            district_id INTEGER,
            frequency TEXT,
            parsedate DATE
    )""")

#execute the query 
cur.execute(accounts_table)
#committing the query 
conn.commit()

### Inserting Data into the created tables

In [62]:
loans = pd.read_csv("loans.csv")
loans.columns

Index(['loan_id', 'account_id', 'amount', 'duration', 'year', 'purpose'], dtype='object')

In [63]:
## insert into loans tables 
loans_table_insert = ("""
    INSERT INTO loans(
        loan_id,
        account_id,
        amount,
        duration,
        year,
        purpose)
        VALUES (%s,%s,%s,%s,%s,%s)""")

In [64]:
# inserting the dataset into the table
for i,row in loans.iterrows():
        cur.execute(loans_table_insert,list(row))

In [65]:
clients = pd.read_csv("clientdetails.csv")
clients.columns

Index(['client_id', 'first', 'last', 'email', 'fulldate'], dtype='object')

In [66]:
clients_table_insert = ("""
    INSERT INTO clients (
            client_id,
            first_name,
            last_name ,
            email,
            date_of_birth)
            VALUES(%s,%s,%s,%s,%s)
    )""")

In [67]:
for i,row in clients.iterrows():
    cur.execute(clients_table,list(row))

In [68]:
accounts = pd.read_csv("accounts.csv")
accounts.columns

Index(['account_id', 'district_id', 'frequency', 'parseddate'], dtype='object')

In [69]:
accounts_table_insert =("""
        INSERT INTO accounts( 
            account_id,
            district_id,
            frequency,
            parseddate
        )""")

In [70]:
for i,row in accounts.iterrows():
    cur.execute(accounts_table,list(row))

In [74]:
cur.execute("""SELECT * FROM accounts""")

# Fetch all results from the executed query
rows = cur.fetchall()

for row in rows:
    print(row)

In [75]:
print(rows)

[]